/* ========== SF Pro Display ========== */
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-ThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-Ultralight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-UltralightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-RegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-HeavyItalic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./San-Francisco-Pro/SF-Pro-Display-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* ========== Дополнительно Italic отдельный ========== */
@font-face {
  font-family: "SF Pro";
  src: url("./San-Francisco-Pro/SF-Pro-Italic.ttf") format("truetype");
  font-style: italic;
}

/* ========== SF Pro Rounded ========== */
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./San-Francisco-Pro/SF-Pro-Rounded-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./San-Francisco-Pro/SF-Pro-Rounded-Ultralight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./San-Francisco-Pro/SF-Pro-Rounded-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./San-Francisco-Pro/SF-Pro-Rounded-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./San-Francisco-Pro/SF-Pro-Rounded-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./San-Francisco-Pro/SF-Pro-Rounded-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./San-Francisco-Pro/SF-Pro-Rounded-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./San-Francisco-Pro/SF-Pro-Rounded-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("./San-Francisco-Pro/SF-Pro-Rounded-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* ========== SF Pro Text ========== */
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-UltralightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-RegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./San-Francisco-Pro/SF-Pro-Text-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* ========== Общий TTF ========== */
@font-face {
  font-family: "SF Pro";
  src: url("./San-Francisco-Pro/SF-Pro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
